{% extends 'base.html' %}
{% block title %}Account Details{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="form-title-container">
    <h2>Update Account Info</h2>
  </div>
  <!-- Profile Update Form -->
   <div class="form-container">
    <form method="post">
      <div class="form-title mb-2">
        <h4>Your Account Details</h4>
      </div>
    {% csrf_token %}
    {{ profile_form.as_p }}
    <button type="submit" name="update_profile" class="btn btn-retro">Update Info</button>
  </form>
   </div>

  <hr class="my-4">

  <!-- Password Change Form -->
   <div class="form-title-container">
    <h2>Manage Your Password</h2>
  </div>
  <div class="form-container">
      <form method="post">
        <div class="form-title mb-2">
          <h4>Update Your Password</h4>
        </div>
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit" name="change_password" class="btn btn-outline-danger">Change Password</button>
      </form>
    </div>
</div>
{% endblock %}
