{% extends 'base.html' %}
{% block content %}
<div class="order-history-container">
    <div class="back-button d-flex justify-content-end mb-1">
      <a href="{% url 'accounts:profile' %}" class="back-btn-retro">
      ← Back to Dashboard
      </a>
  </div>
    <div class="order-history container py-5 ">
        <div class="account-orders-title">
            <h2>Your Orders</h2>
        </div>
        <div class="account-orders-subtitle p-4">
            <h5 class="text-center">View your past orders and their details.</h5>
        </div>
        {% if orders %}
            <ul class="list-group">
            {% for order in orders %}
                <li class="list-group-item p-4">
                    <div class="d-flex justify-content-end justify-content-between align-items-center">
                <strong>Order #{{ order.order_number }}</strong>{{ order.created_at|date:"M d, Y" }}
                <br>
                Total: £{{ order.total_amount }} | Status: {{ order.status|capfirst }}
                    <a href="{% url 'accounts:order_detail' order.id %}" class="btn-retro">View Details</a>
                </div>
            </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>You haven't placed any orders yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
