{% extends 'base.html' %}
{% block content %}
<div class="order-history-container">
    <div class="back-button d-flex justify-content-end mb-1">
        <a href="{% url 'accounts:profile' %}" class="back-btn-retro">
        <span> ←</span> Back to Dashboard
        </a>
    </div>
    <div class="order-history container py-5 ">
        <div class="account-orders-title">
            <h1>Your Orders</h1>
        </div>
        {% if orders %}
            <ul class="list-group">
            {% for order in orders %}
                <li class="list-group-item p-4">
                    <div class="d-flex justify-content-end justify-content-between align-items-center">
                <strong>Order #{{ order.order_number }}</strong>{{ order.created_at|date:"M d, Y" }}
                <br>
                Total: £{{ order.total_amount }} | Status: {{ order.status|capfirst }}
                    <a href="{% url 'accounts:order_detail' order.id %}" class="btn-retro">Details</a>
                </div>
            </li>
            {% endfor %}
            </ul>
        {% else %}
        <div class="no-orders-text-container d-flex justify-content-center align-items-center flex-column">
            <img src="/static/images/icons/empty-cart.png" alt="Empty order">
            <h5 class="no-orders-text text-center">You haven't placed any orders yet...</h5>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
